<%- include('../Includes/header.ejs')%>


<link rel="stylesheet" href="/CSS/dashboard.css">

<%-include('../Includes/navbar.ejs')%>

</head>
<body>

<main>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Dashboard</h1>
                
                <button class="btn btn-primary btn-custom" id="createBlogBtn"><a href="/blogPage">Create Blog</a> </button>
                <button class="btn btn-secondary btn-custom" id="viewBlogBtn"><a href="/viewBlog">View Blog</a></button>
            </div>
        </div>
    </div>
    <div class="box">
        <h3>Wolcome! You can create Your Own Blog by Clicking the Create Blog Button and View Your Blogs.
    </div>
</main>


<%-include('../Includes/footer.ejs')%>