<%- include('../Includes/header.ejs')%>


<link rel="stylesheet" href="/CSS/dashboard.css">



</head>
<body>

<main>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1><i>Dashboard</i></h1>
                
                <button class="btn btn-primary btn-custom" id="createBlogBtn"><a href="/blogPage">Create Blog</a> </button>
                <button class="btn btn-secondary btn-custom" id="viewBlogBtn"><a href="/viewBlog">View Blog</a></button>
            </div>
        </div>
    </div>
    <div class="box">
        <h3><i>Wolcome!<br>You can create Your Own blogs by Clicking the Create Blog Button and <br>
             View Your own blog by clicking the View Blog button.</i>
    </div>
</main>


<%-include('../Includes/footer.ejs')%>