<%- include('../Includes/header.ejs') -%>

<link rel="stylesheet" href="/CSS/reg.css">

</head>

<body>
    <%- include('../Includes/navbar.ejs') -%>

    <main>
        
        <h1 class="member">Signup With Your Details</h1>
<div class="container">
	<form action="/postSignup" method="POST">
		<p class="text-danger"><%=message%></p>
		<input type="text" name="name" placeholder=" Full Name" required="">
		<input type="email" name="email" placeholder="Email address" required="">
		<input type="password" name="password" placeholder="Password" required="">
		
		<input type="submit" name="submit">
		<input type="reset" name="reset" value="Reset"><br />
	</form>
</div>
        
    </main>
<%- include('../Includes/footer.ejs') -%>