body{
    background-color: antiquewhite;
}
img{
    height: 200px;
    width: 200px;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.blog{
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-inline: 10px;
    background-color:burlywood;
    border-radius: 10px;
}
a{
    color: greenyellow;
    text-decoration: none;
}
button{
    height: 50px;
    width: 100px;
}